@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Crimson+Text:ital@1&display=swap');


.parrafo {
    line-height: 20px;
    color: rgb(65, 63, 63);
    float: left;
    margin-left: 2%;
    margin-bottom: 5%;
    align-content: center;
}

.listaHome {
    line-height: 20px;
    color: rgb(65, 63, 63);
}


.homeimg {
    clear: right;
    float: right;
    height: 444px;
    width: 444px;
    margin-right: 5%;
}