@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Crimson+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

.title{
    margin-bottom: 5%;
    color: rgb(17, 89, 223);
    text-decoration: underline overline;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

section {
    padding-left: 20%;
    line-height: 5px;
    padding-top: 0px;
    margin-left: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.action {
    margin-left: 3%;
    float: right;
    margin-top: 10%;
    margin-bottom: 2%;
    font-family: 'Courier New', Courier, monospace;
}

.colorBtnText {
    color: white;
    text-decoration: none;
}

.container {
    padding-left: 20%;
    padding-top: 0px;
    margin-left: 2%;
}

.form-group {
    margin: 10%;
    font-family: 'Courier New', Courier, monospace;
}

.table {
    font-family: 'Courier New', Courier, monospace;
}

.texto-search {
    font-family: 'Courier New', Courier, monospace;
}

.footer {
    clear: right;
    float: both;
    padding-left: 35%;
    background: white;
    max-width: 100%;
    margin-left: -13%;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(65, 63, 63);;
    font-size: 20px;
    font-family: 'Comforter Brush', cursive;
}

